In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel('C:/Users/satsin/Desktop/Battery life/Cycle_batch1.xlsx',sheet_name ='Sheet_b1c0',index_col=0)

In [3]:
df.head()

,Unnamed: 1,I,Qc,Qd,Qdlin,T,Tdlin,V,dQdV,t
b1c0,0,[0 0],[0 0],[0 0],[0 0],[0 0],[0 0],[0 0],[0 0],[0 0]
NaN,1,[ 0. 0.21590753 0.35983085 ... -0.03...,[0.0000000e+00 1.0935055e-06 1.0935055e-06 ......,[0. 0. 0. ... 1.0706892 1...,[-3.57431692e-04 -3.18524587e-04 -2.81852414e-...,[31.632496 31.632496 31.632496 ... 31.712118 3...,[29.58588212 29.58588989 29.58589615 29.585901...,[2.0264158 2.0393877 2.0516596 ... 2.0124063 2...,[-1.26901199e-02 -1.26901199e-02 -1.26901199e-...,[0.00000000e+00 2.41666667e-03 2.91166667e-03 ...
NaN,2,[ 0. 0.21598469 0.39595431 ... -0.03...,[0.0000000e+00 2.1892861e-06 2.1892861e-06 ......,[0. 0. 0. ... 1.0719005 1...,[-3.79808505e-04 -3.49296036e-04 -3.18739607e-...,[31.712118 31.642683 31.642683 ... 31.620401 3...,[29.64599572 29.64599634 29.64599685 29.645997...,[2.0264654 2.0391855 2.0548534 ... 2.0123386 2...,[ 0.00000000e+00 0.00000000e+00 0.00000000e+...,[0.00000000e+00 2.48666667e-03 2.99000000e-03 ...
NaN,3,[ 0. 0.21577748 0.36011869 ... -0.03...,[0.0000000e+00 3.5126993e-10 3.5126993e-10 ......,[0. 0. 0. ... 1.0725095 1...,[-3.46640510e-04 -3.07657161e-04 -2.70960530e-...,[31.620401 31.618505 31.618505 ... 31.814196 3...,[29.74420252 29.74420235 29.74420222 29.744202...,[2.0254135 2.0385513 2.0506926 ... 2.0120773 2...,[-5.11173807e-03 -3.94804070e-03 -2.78434332e-...,[0.00000000e+00 2.54166667e-03 3.00000000e-03 ...
NaN,4,[ 0. 0.21607139 0.39601153 ... -0.02...,[0.0000000e+00 1.4893225e-06 1.4893225e-06 ......,[0. 0. 0. ... 1.073174 1.073...,[-3.71023556e-04 -3.29214161e-04 -2.90062719e-...,[31.814196 31.814196 31.814196 ... 31.717243 3...,[29.62122542 29.62840559 29.63418973 29.638709...,[2.0245466 2.0373793 2.0533218 ... 2.012434 2...,[ 0.00000000e+00 0.00000000e+00 0.00000000e+...,[0.00000000e+00 2.48500000e-03 3.01833333e-03 ...

In [4]:
df.reset_index(inplace = True)

In [5]:
df.drop(['Unnamed: 1','index'],axis = 1,inplace = True)

In [6]:
df.head()

,I,Qc,Qd,Qdlin,T,Tdlin,V,dQdV,t
0,[0 0],[0 0],[0 0],[0 0],[0 0],[0 0],[0 0],[0 0],[0 0]
1,[ 0. 0.21590753 0.35983085 ... -0.03...,[0.0000000e+00 1.0935055e-06 1.0935055e-06 ......,[0. 0. 0. ... 1.0706892 1...,[-3.57431692e-04 -3.18524587e-04 -2.81852414e-...,[31.632496 31.632496 31.632496 ... 31.712118 3...,[29.58588212 29.58588989 29.58589615 29.585901...,[2.0264158 2.0393877 2.0516596 ... 2.0124063 2...,[-1.26901199e-02 -1.26901199e-02 -1.26901199e-...,[0.00000000e+00 2.41666667e-03 2.91166667e-03 ...
2,[ 0. 0.21598469 0.39595431 ... -0.03...,[0.0000000e+00 2.1892861e-06 2.1892861e-06 ......,[0. 0. 0. ... 1.0719005 1...,[-3.79808505e-04 -3.49296036e-04 -3.18739607e-...,[31.712118 31.642683 31.642683 ... 31.620401 3...,[29.64599572 29.64599634 29.64599685 29.645997...,[2.0264654 2.0391855 2.0548534 ... 2.0123386 2...,[ 0.00000000e+00 0.00000000e+00 0.00000000e+...,[0.00000000e+00 2.48666667e-03 2.99000000e-03 ...
3,[ 0. 0.21577748 0.36011869 ... -0.03...,[0.0000000e+00 3.5126993e-10 3.5126993e-10 ......,[0. 0. 0. ... 1.0725095 1...,[-3.46640510e-04 -3.07657161e-04 -2.70960530e-...,[31.620401 31.618505 31.618505 ... 31.814196 3...,[29.74420252 29.74420235 29.74420222 29.744202...,[2.0254135 2.0385513 2.0506926 ... 2.0120773 2...,[-5.11173807e-03 -3.94804070e-03 -2.78434332e-...,[0.00000000e+00 2.54166667e-03 3.00000000e-03 ...
4,[ 0. 0.21607139 0.39601153 ... -0.02...,[0.0000000e+00 1.4893225e-06 1.4893225e-06 ......,[0. 0. 0. ... 1.073174 1.073...,[-3.71023556e-04 -3.29214161e-04 -2.90062719e-...,[31.814196 31.814196 31.814196 ... 31.717243 3...,[29.62122542 29.62840559 29.63418973 29.638709...,[2.0245466 2.0373793 2.0533218 ... 2.012434 2...,[ 0.00000000e+00 0.00000000e+00 0.00000000e+...,[0.00000000e+00 2.48500000e-03 3.01833333e-03 ...

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1851 entries, 0 to 1850
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   I       1851 non-null   object
 1   Qc      1851 non-null   object
 2   Qd      1851 non-null   object
 3   Qdlin   1851 non-null   object
 4   T       1851 non-null   object
 5   Tdlin   1851 non-null   object
 6   V       1851 non-null   object
 7   dQdV    1851 non-null   object
 8   t       1851 non-null   object
dtypes: object(9)
memory usage: 130.3+ KB

In [20]:
df1 = pd.DataFrame((i.split("\n") for i in df),columns =['Qc'],dtype =str)

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Qc      9 non-null      object
dtypes: object(1)
memory usage: 200.0+ bytes

In [19]:
df2 =pd.DataFrame((i.split("\n") for i in df1),columns =['0'],dtype =str)

AttributeError: 'int' object has no attribute 'split'

In [22]:
df1.head()

      Qc
0      I
1     Qc
2     Qd
3  Qdlin
4      T

In [8]:
I = np.var(df['Qdlin'][20]-df['Qdlin'][10])

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [43]:
len(df['I'][10])

71

In [51]:
a =df['I'][10]

In [47]:
b = df['I'][20]

In [52]:
b-a

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [41]:
np.var((df['I'][10] -df['I'][10]))

TypeError: unsupported operand type(s) for -: 'str' and 'str'

array(['[0.         0.15983061 0.24964939 ... 0.         0.         0.        ]'],
      dtype='<U71')

In [30]:
df.describe()

,I,Qc,Qd,Qdlin,T,Tdlin,V,dQdV,t
count,326,326,326,326,326,326,326,326,326
unique,326,326,326,326,326,326,326,326,326
top,[0. 0.18982194 0.3099823 ... 0. ...,[0.0000000e+00 1.7629043e-06 1.7629043e-06 ......,[0. 0. 0. ... 1.0322183 1...,[-3.80398549e-04 -3.49499024e-04 -3.18714658e-...,[30.333969 30.333969 30.333969 ... 28.119591 2...,[27.99976987 27.9997697 27.99976956 27.999769...,[2.3746333 2.3857455 2.396646 ... 2.3391137 2...,[-9.41896290e-05 -2.32276700e-04 -2.34327242e-...,[0.00000000e+00 3.81833333e-03 5.18500000e-03 ...
freq,1,1,1,1,1,1,1,1,1

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [29]:
df.keys()

Index(['I', 'Qc', 'Qd', 'Qdlin', 'T', 'Tdlin', 'V', 'dQdV', 't'], dtype='object')

In [31]:
df1 = df.transpose

In [32]:
df2 = pd.DataFrame(df1.values.tolist())

AttributeError: 'function' object has no attribute 'values'

In [33]:
df1.head()

AttributeError: 'function' object has no attribute 'head'